//******
//COLORS
//******
$color_bg: #02C186;
$color_accent: #F05D5E;
$color_darkergray: #1F1F1F;
$color_darkgray: #252a37; //for the h1 title
$color_gray_links: #333;
$color_white: #fff;
$color_black: #000;

//**********
//BREAKPOINTS
//**********
$LargeDesktop: 1440px;
$Desktop: 1200px;
$Laptop: 950px;
$Tablet: 768px;
$Mobile: 400px;

//**********
//FONT-SIZES
//**********
$font_XXS: 0.80rem;
$font_XS: 0.90rem;
$font_S: 1rem;
$font_M: 1.15rem;
$font_L: 1.65rem;
$font_XL: 2rem;
$font_XXL: 2.5rem;
$font_XXXL: 3rem;